td.selector {
    vertical-align: top;
    overflow: visible;
}

body #context-blockform .context-blockform-selector {
    height: auto;
    overflow: visible;
}

body #context-blockform .context-blockform-selector #edit-reactions-plugins-block-selector .form-checkboxes {
    max-height: none;
}

body .context-plugins .context-plugin-form .form-checkboxes {
    overflow: visible;
}

body.context-editing  .draggable:hover a.context-block-remove {
    border:0px;
}